<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<style>
    table,table tr th, table tr td { border:1px solid cornflowerblue; }
    form { text-align: center; }
</style>
<body>
    <div class="header">
        <table>
            <tr>
                <td>请假流程测试</td>
                <td style="width: 50px">-----></td>
                <td>
                    <form action="/info">
                        <hr>
                             <button type="submit"> 发起请假审批 </button>
                        <hr>
                    </form>
                </td>
            </tr>
            <tr style="height: 20px"></tr>
            <tr>
                <td>我发起的: &nbsp;</td>
                <td style="width: 50px">-----></td>
                <td>
                    <form action="/document">
                        <hr>
                            <button type="submit"> 查询 </button>
                        <hr>
                    </form>
                </td>
            </tr>
            <tr style="height: 20px"></tr>
            <tr>
                <td>需要审批的: &nbsp;</td>
                <td style="width: 50px">-----></td>
                <td>
                    <form action="/Approval">
                        <hr>
                        <button type="submit"> 查询 </button>
                        <hr>
                    </form>
                </td>
            </tr>
        </table>

    </div>
<div>


</div>
</body>
</html>